name: Monolithic Application CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print success message
        run: echo "CI pipeline executed successfully"

      - name: List repository files
        run: ls -la
